$colorLetra: black;
$colorBoton: aliceblue;
$colorFooter: black;
$colorContenidoFooter: gray;
$colorCursor: aliceblue;
$colorMain:pink;
$colorNavBar:rgb(233, 196, 214);
$colorGrilla: aliceblue;
$letraH2:'Redressed', cursive;
$letraP:'Great Vibes', cursive;
$letraBoton:'Redressed', cursive;